<section class="container">
   <div class="container__content">
    <h1 class="container__title">Welcome to my Emails porftolio</h1>
    <p class="container__text">
        Hello everyone, here you can take a look of some of my email development&nbsp;work 🚀       
    </p>
    <div class="button_wrapper">
        <a class="button_wrapper__link" href="https://arm-website.netlify.app/">Go back</a>
    </div>
   </div>
   <div class="container__img">
    <img src="../../assets/images/email_img.jpg" alt="image code">
   </div>
</section>
