<header>
    <nav class="navegation">
        <div class="navegation__nav-icon"  (click)="toggleMenu($event)">
               {{title}}
               <i class="bi bi-list showOnMobile"></i>
        </div>
        <ul [class.show]="menuOpen" class="navegation__nav-links">
            <li><a routerLink="/home" (click)="toggleMenu($event)">Home</a></li>
            <li><a routerLink="/email-1" (click)="toggleMenu($event)">Email_1</a></li>
            <li><a routerLink="/email-2" (click)="toggleMenu($event)">Email_2/a></li>
         
        </ul>
    </nav>
</header>

<router-outlet />